@import '../../../common.styl'

.screenWrapper
  padding 28px

.screen
  background white
  coolScrollbar()


.items
  display block
  margin-top 20px
  text-align center

.orderCard
  padding 20px

  div
    margin-bottom 10px

.number
  font-weight 700
  font-size 1.2em
  margin-bottom 10px