@import '../../../../../common.styl'

.row
  min-height 64px
  padding 20px
  background #fff
  
 
  div
    display flex
    align-items center
    margin-bottom: 10px

    div
      width 80%

    &:last-child div
      width 100%

.orderNumber
  font-weight 500

  a
    color $primary-dark
    text-decoration none

.orderDate
  color #999
  font-size .8em
  